.page {
    font-family: "Geometria";
}

.hide-popup {
    visibility: hidden;
    opacity: 0;
}

.popup.hide-popup .popup__content {
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100%;
        padding: 30px 10px;
    }
    &__content {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background-color: #fff;
        max-width: 500px;
        padding: 20px 100px;
        text-align: center;
        transition: all 0.5s ease;
    }
    &__title {
        font-weight: 500;
        font-size: 26px;
    }
    &__close {
        font-size: 30px;
        position: absolute;
        right: 7px;
        top: 0;
        cursor: pointer;
    }
    &__text {
        max-width: 300px;
        margin: 10px auto;
        font-size: 16px;
    }
    &__input {
        padding: 16px;
        border: 1px solid #2a94e2;
        border-radius: 5px;
        width: 300px;
        max-width: 90%;
        height: 20px;
        margin: 10px auto;
        background: #fafafa;
    }
    &__name {}
    &__phone {}
    &__submit {
        cursor: pointer;
        background-color: #2a94e2;
        color: #fff;
        padding: 0;
        width: 200px;
        max-width: 200px;
        height: 30px;
    }
    &__terms {
        font-weight: 300;
        font-size: 13px;
        line-height: 1.4;
    }
    &__terms-link {
        color: #000;
        text-decoration: underline;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #2a94e2;
    border-radius: 6px;
    border: 2px solid #2a94e2;
    transition: all 0.4s ease;
    height: 60px;
    &:hover {
        background-color: transparent;
        color: #000;
    }
}

.lock {
    overflow: hidden;
}

.hide {
    display: none;
}

.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__contacts {
        height: 50px;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
    &.active {
        & .menu__burger-span {
            transform: rotate(45deg);
            width: 40px;
            z-index: 102;
            background-color: #fff;
            &::after {
                content: '';
                transform: scale(0);
                top: 0;
                left: 0;
            }
            &::before {
                content: '';
                transform: rotate(90deg);
                top: -1px;
                left: 0;
                background-color: #fff;
            }
        }
        & .menu__item {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 800ms;
        }
        & .menu__lines {}
        & .menu__line-item {
            transition-delay: 240ms;
            transform: translateY(0);
        }
    }
    &__burger {
        position: relative;
        height: 25px;
        width: 40px;
    }
    &__burger-span,
    &__burger-span::before,
    &__burger-span::after {
        transition: all 0.4s ease, background-color 0.6s cubic-bezier(0.1, 0.8, 1.0, 0.1);
        ;
        ;
        display: inline-block;
        height: 3px;
        border-radius: 30px;
        background-color: #2a94e2;
        position: absolute;
    }
    &__burger-span::before {
        content: "";
        width: 40px;
        top: -13px;
    }
    &__burger-span {
        width: 30px;
    }
    &__burger-span::after {
        content: "";
        width: 20px;
        bottom: -13px;
    }
    &__text {
        margin: 0 0 22px 20px;
    }
    &__lines-container {
        transition: transform 800ms cubic-bezier(1.000, 0.355, 0.045, 0.645), background-color 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 800ms;
        transform: translateY(-100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
    }
    &.active .menu__lines-container {
        transform: translateY(0);
    }
    &__lines {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &__line-item {
        width: calc(10% + 1px);
        margin-left: -1px;
        border-right: 1px solid #5a3f68;
        transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        height: 100%;
        background-color: #5a3f68;
        transform: translateY(-100%);
        &:nth-child(1) {
            transition-duration: 1200ms;
            width: 10%;
        }
        &:nth-child(2) {
            transition-duration: 800ms;
        }
        &:nth-child(3) {
            transition-duration: 1000ms;
        }
        &:nth-child(4) {
            transition-duration: 1200ms;
        }
        &:nth-child(5) {
            transition-duration: 800ms;
        }
        &:nth-child(6) {
            transition-duration: 1200ms;
        }
        &:nth-child(7) {
            transition-duration: 1000ms;
        }
        &:nth-child(8) {
            transition-duration: 800ms;
        }
        &:nth-child(9) {
            transition-duration: 1000ms;
        }
        &:nth-child(10) {
            transition-duration: 1200ms;
        }
    }
    &__list-container {
        position: absolute;
        top: 0;
        z-index: 104;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list {}
    &__item {
        transform: translateX(-200px);
        transition: opacity 480ms cubic-bezier(0.645, 0.045, 0.355, 1.000), transform 480ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        opacity: 0;
        margin: 20px 0;
    }
    &__item-link {
        font-size: 38px;
        color: #fff;
        font-weight: 500;
        &:hover {
            color: #000;
            transition: color 360ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    margin: 40px 0 19px 22px;
    &__text {
        color: #000;
        margin-left: 30px;
        width: 200px;
        line-height: 1.65;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__number {
        font-size: 30px;
        color: #000;
    }
    &__mail {
        color: #fff;
        font-size: 22px;
        text-decoration: underline;
    }
    &__btn {
        font-weight: 500;
        margin-top: 20px;
        padding: 16px 60px;
        border: 2px solid #2a94e2;
        border-radius: 6px;
        background-color: transparent;
        font-size: 16px;
        transition: all 0.4s ease;
        &:hover {
            background-color: #2a94e2;
            color: #fff;
        }
    }
}

.first-screen {
    padding-bottom: 85px;
    &__bg {
        background-image: url(../img/first-screen/first-screen__bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;
        height: 900px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    &__title {
        font-weight: 900;
        font-size: 50px;
        max-width: 590px;
        line-height: 1.46;
        text-transform: uppercase;
        margin: 20px 0 30px;
    }
    &__title-text {
        font-size: 22px;
        line-height: 1.6;
        max-width: 540px;
        margin-bottom: 45px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__item-num {
        font-weight: 300;
        font-size: 80px;
    }
    &__item-text {
        margin: 10px 50px 0 20px;
        line-height: 1.6;
    }
    &__champagne {
        max-width: 430px;
        display: flex;
        align-items: center;
        margin: 40px 0;
    }
    &__champagne-text {
        line-height: 1.6;
        margin-left: 20px;
        max-width: 400px;
    }
    &__champagne-name {
        font-weight: 700;
    }
    &__btn {
        height: 70px;
        width: 360px;
        border-radius: 8px;
        border: 2px solid #2a94e2;
        transition: all 0.4s ease;
        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
}

.test {
    padding-top: 40px;
    &__block {
        border: 3px solid #f6f6f6;
        display: flex;
    }
    &__left-col {
        padding: 40px 40px 30px 28px;
        border-right: 3px solid #f6f6f6;
        min-width: 66.666%;
    }
    &__img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__left-col-boxes {
        display: flex;
        justify-content: space-around;
        margin-top: 37px;
        padding-bottom: 10px;
        border-bottom: 2px solid #f6f6f6;
    }
    &__left-col-box {
        border: 5px solid transparent;
        transition: all 0.3s ease;
        &_first {
            margin-right: 20px;
        }
        &:hover {
            .test__img {
                filter: saturate(1.6);
            }
            .test__left-col-text {
                color: #2a94e2;
                opacity: 1;
            }
        }
    }
    &__left-col-text {
        text-align: center;
        margin: 25px 0 10px;
        color: #808080;
        font-weight: 700;
    }
    &__bottom-info {
        padding-top: 36px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__next {
        display: flex;
        color: #2a94e2;
        cursor: pointer;
    }
    &__next-text {
        margin: 0 15px;
    }
    &__right-col {
        padding: 39px 34px 0 37px;
    }
    &__right-col-item {
        display: flex;
        align-items: start;
        margin-bottom: 33px;
    }
    &__right-col-text {
        line-height: 1.7;
        margin-left: 24px;
        margin-top: -7px;
    }
}

.title {
    line-height: 1.3;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}

.title-text {
    line-height: 1.3;
    text-align: center;
    font-size: 22px;
    margin: 30px 0 55px;
}

.subtitle {
    font-weight: 800;
    font-size: 22px;
}

.services {
    padding: 46px 0;
    &__items {
        margin-top: 43px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        gap: 10px;
    }
    &__item {
        position: relative;
        overflow: hidden;
        &:hover {
            .services__text {
                bottom: -5px;
            }
            .services__btn {
                bottom: -8px;
            }
            .services__title {
                bottom: 175px;
            }
            .services__img-gradient {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
        &_high {
            grid-row: span 2;
        }
        &_wide {
            grid-column: span 2;
        }
    }
    &__content {
        position: absolute;
        left: 0;
        bottom: 30px;
        margin: 0 20px;
        width: 333px;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__img-gradient {
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__title {
        transition: all 0.4s ease;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
    }
    &__text {
        color: #fff;
        letter-spacing: 0.01em;
        line-height: 2;
        margin: 20px 0 70px;
        position: absolute;
        bottom: -190px;
        transition: all 0.4s ease;
    }
    &__btn {
        font-size: 16px;
        width: 100%;
        background-color: #2a94e2;
        position: absolute;
        bottom: -90px;
        &:hover {
            background-color: #2a94e2;
            color: #fff;
        }
    }
}

.apartaments-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    &__item {
        margin: -2px -2px 0 0;
        width: 20%;
        height: 60px;
        border: 2px solid #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            background-color: #f6f6f6;
        }
        &_active {
            background-color: #2a94e2;
            color: #fff;
            &:hover {
                background-color: #2889d3;
            }
        }
        &:last-child {
            border-right: 2px solid #f6f6f6;
        }
    }
}

.apartaments {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: #f6f6f6;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #2889d3;
            .apartaments__btn-arrow {
                border-color: #fff;
            }
        }
    }
    &__btn-arrow {
        width: 10px;
        height: 10px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(45deg);
        margin: 0 0 5px 15px;
        transition: all 0.2s ease;
    }
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__inner {
        height: 100%;
        transition: all 0.3s ease;
        position: relative;
    }
    &__item {
        width: 49%;
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 0 18px rgba(233, 80, 79, 0.25);
            .product__title {
                color: #2a94e2;
            }
            .product__img-sub {
                opacity: 1;
            }
        }
    }
    &__img-container {
        overflow: hidden;
    }
    &__img {
        width: 100%;
    }
    &__img-sub {
        transition: all 0.8s ease-in-out;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
    }
    &__content {
        padding: 30px;
        border: 1px solid #f6f6f6;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        height: calc(100% - 360px);
    }
    &__title {
        flex-grow: 1;
        line-height: 1.4;
        transition: all 0.5s ease;
        margin-bottom: 18px;
    }
    &__lot {
        margin-bottom: 30px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__price-full {
        font-size: 33px;
        font-weight: 300;
        margin-bottom: 23px;
    }
    &__price-meters {
        opacity: 70%;
    }
    &__dimensions-square {
        margin: 10px 0 30px;
    }
    &__btn-container {
        height: 60px;
    }
    &__btn {
        font-size: 18px;
        font-weight: 500;
        background-color: #f6f6f6;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.5s ease;
        &:hover {
            background-color: #2a94e2;
            color: #fff;
        }
    }
}

.hide-btn__arrow {
    margin-top: 13px;
    transform: rotate(225deg);
}

.about {
    background-color: #f6f6f6;
    margin-top: 60px;
    padding: 65px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__body {
        margin-top: 35px;
        max-width: 555px;
    }
    &__title {
        margin-bottom: 15px;
        line-height: 1.3;
        text-align: left;
    }
    &__text {
        line-height: 1.7;
    }
    &__text-paragraph {
        margin-bottom: 10px;
    }
    &__btn {
        cursor: pointer;
        margin-top: 25px;
        width: 270px;
    }
    &__slider {
        width: 50%;
        min-width: 480px;
        margin-left: 20px;
    }
    &__slider-big {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    &__slider-big-img {
        object-fit: cover;
        height: 100%;
    }
    &__slider-big {
        .slick-slide {
            div {
                position: relative;
            }
        }
    }
    &__slider-small-img {
        width: 129px;
        height: 105px;
        object-fit: cover;
        &:hover {
            cursor: pointer;
            border: 2px solid #2a94e2;
            opacity: 0.8;
            box-sizing: padding-box;
        }
    }
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide {
    padding: 10px 5px;
}

.direction {
    padding: 50px 0;
    &__title {
        line-height: 1.3;
        text-align: center;
        font-weight: 800;
        font-size: 35px;
    }
    &__cards {
        margin: 43px 0 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {
        flex: 0 0 49%;
        min-height: 280px;
        border: 1px solid #2a94e2;
        border-radius: 10px;
        position: relative;
        padding: 25px 55px 15px 48px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 20px rgba(73, 10, 10, 0.25);
        }
    }
    &__card-hatch {
        width: 100%;
        height: 100%;
        background-image: url(../img/direction/direction__hatch.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 11px;
        left: 0;
    }
    &__card-inner {
        display: flex;
    }
    &__card-subtitle {
        min-height: 70px;
        line-height: 1.6;
    }
    &__card-post {
        margin: 30px 0 7px;
        font-size: 12px;
        color: rgb(131, 131, 131);
    }
    &__card-full-name {
        margin-bottom: 30px;
    }
    &__phone-number {
        display: inline-block;
        margin-bottom: 20px;
        color: #000;
        font-size: 25px;
    }
    &__mail {
        color: #000;
        text-decoration: underline;
    }
    &__img {
        margin-top: 15px;
        width: 150px;
        height: 135px;
    }
    &__bottom-links {
        display: flex;
        justify-content: space-between;
    }
    &__bottom-link {
        font-size: 22px;
        margin-right: 30px;
        line-height: 2.5;
        color: #2a94e2;
        text-decoration: underline;
        &:last-child {
            margin-right: 0;
        }
    }
}

.director {
    background-color: #eef3fa;
    &__inner {
        padding: 45px 0 60px;
        background-image: url(../img/director/director__img.png);
        background-repeat: no-repeat;
        background-position: 100% 101%;
        background-size: 460px;
    }
    &__title {
        max-width: 485px;
        text-align: left;
        margin-bottom: 30px;
        line-height: 1.5;
    }
    &__title-text {
        max-width: 700px;
        text-align: left;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 25px;
    }
    &__paragraph {
        margin-bottom: 24px;
    }
    &__btn {
        width: 270px;
    }
}

.footer {
    background-color: #535860;
    padding: 30px 0 10px;
    line-height: 1.7;
    color: #fff;
    &__columns {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__col-info {
        margin-top: 6px;
        max-width: 325px;
        font-size: 13px;
    }
    &__col-contacts {
        text-align: center;
    }
    &__working-time {
        margin-bottom: 8px;
    }
    &__address {
        margin: 20px 0;
        font-size: 16px;
    }
    &__data {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
    }
    &__logo-text {
        color: #fff;
    }
    &__number {
        white-space: nowrap;
        color: #fff;
        margin-bottom: 8px;
    }
    &__btn {
        margin-top: 15px;
        border-radius: 6px;
        border: 2px solid #fff;
        padding: 15px 0;
        font-size: 16px;
        color: #000;
        font-weight: 500;
        transition: all 0.3s ease;
        &:hover {
            background-color: #777e88;
            border-color: #2a94e2;
            color: #fff;
            background-color: transparent;
        }
    }
}

@import "media.scss";